{% extends "base.jinja2" %} 

{% block content %}
<table>
  <tr>
    <th>Ticker Symbol</th>
    <th>Price per Share</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>
{% endblock content %}
